* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Quattrocento', serif;
    background-color: #04030e;
    background-image: url(../images/des_recits_unsplash.webp);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    color: #fff;

/* Credit: code for sticky footer taken from https://materializecss.com/footer.html 
START */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
}
/* FINISH */

header {
    background-color: #00000080;
}

#logo {
    padding: 15px;
    color: #d39b5b;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 300%;
}

#menu {
    padding: 15px 0;
}

ul {
    list-style-type: none;
    display: inline-flex;
}

li {
    padding: 20px;
    font-size: 170%;
    color: #d39b5b
}

a {
    text-decoration: none;
    color: #d39b5b;
}

#menu a {
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

#main-body {
    margin: 80px;
}

.line {
    display: flex;
}

.outer {
    flex: 1;
}

.hello {
    letter-spacing: 2px;
    text-shadow: #000 4px 4px 4px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    display: block;
    padding: 35px 0 0 0;
    font-size: 300%;
}

.instruction {
    text-shadow: #000 4px 4px 4px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    padding: 10px 0;
    color:#d39b5b;
    font-size: 220%;
}

.main-page {
    margin: 30px 100px;
    background-color:#00000080;
}

.left {
    text-align: left;
    padding: 40px;
}

.right {
    text-align: right;
    padding: 40px;
}

.left h3 {
    color: #d39b5b;
}

.right h3 {
    color:#d39b5b;
}

.fact-line {
    margin-bottom: 25px;
}

.fact-line h5 {
    line-height: 150%;
}

.middle {
    padding: 30px 20px;
    display: block;
}

.middle h2 {
    font-size: 250%;
    color:#d39b5b;
}
.middle h5 {
    font-size: 200%;
    margin-bottom: 50px;
}

.int-link:hover {
    color: #777777;
}

.right a {
    color:#fff;
}

.faq {
    padding: 0 20px;
}

.moon-cycle {
    background-color: #00000080;
    padding: 10px 30px;
    margin: 30px 30px 10px 30px;
}

.moon-cycle h2 {
    padding: 10px 0;
    color: #d39b5b;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    letter-spacing: 2px;
}

.moon-cycle p {
    padding-top: 10px 0;
    font-size: 120%;
}

.moon-cycle-img {
    margin-top: 40px;
    width: 100%;
}

.perspectives-img {
    margin: 10px 0;
    width: 100%;
}

footer {
    background: #7e90a140;
    font-size: 150%;
    color: #d39b5b;
    letter-spacing: 1px;
}

footer a {
    color: #a8a8a8;
    padding: 5px;
}

footer a:hover {
    color: #fff;
}

footer .row {
    padding: 15px;
}

#moon-picture img {
    height: 23vw;
}

.icons {
    display: block;
    text-align: center;
    margin: 40px 10px;
}

.icons img {
    height: 10vw;
    width: 10vw;
    padding: 20px;
}

.notes {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 40px 10px;
}

.notes h3 {
    flex:1;
    font-size: 220%;
    padding: 20px;
}

.start {
    font-size: 200%;
    font-weight: 700;
    font-family: 'Quattrocento', serif;
    color: #d39b5b;
    border: 2px solid #d39b5b;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px 50px;
    text-align: center;
}

.pick-a-date {
    margin: 40px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pick-a-date h2 {
    font-size: 250%;
    color: #d39b5b;
    margin-bottom: 10px;
}

.pick-a-date div {
    padding: 20px;
}

.calendar {
    font-family: 'Quattrocento', serif;
    font-size: 130%;
}

.calendar th {
    padding: 5px;
    color: #5065a3 ;
    border: 1px solid #777777;
    text-align: center;
}

.calendar td {
    color: #5065a3 ;
    text-align: center;
    padding: 5px;
    border: 1px solid #777777;
}