* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Quattrocento', serif;
    background-color: #000;
    background-image: url(../images/des_recits_unsplash.webp);
    background-size: cover;
    background-position: bottom;
    color: #fff;
}

header {
    background-color: #00000080;
}

#logo {
    padding: 15px;
    color: #d39b5b;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 300%;
}

#menu {
    letter-spacing: 1px;
    padding: 15px;
}

ul {
    list-style-type: none;
    display: inline-flex;
}

li {
    padding: 15px;
    font-size: 170%;
    color: #d39b5b
}

a {
    text-decoration: none;
}

#menu a {
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

#main-body {
    margin: 50px
}