* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Quattrocento', serif;
    background-color: #000;
    background-image: url(../images/des_recits_unsplash.webp);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    color: #fff;
}